<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Food | Give From The Heart</title>
    <link rel="icon" href="/img/logo.jpeg">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylea.css">
</head>

<body>
    <section class="section-book">
        <div class="containeer">
            <div class="u-margin-bottom-medium">
                <h2 class="heading-secondary">
                    Rset Password
                </h2>
            </div>
            <div class="row">
                <div class="book">
                    <div class="book__form">
                        <%- include('./partials/messages.ejs') %>
                            <form action="/org/updatepassword" method="POST" class="form">
                                < <div class="form__group"> <input type="password" class="form__input" id="password" name="password" placeholder="Set password" minlength="6" required><label for="password" class="form__label">Set Password</label> </div>
                    <div class="form__group"> <input type="password" class="form__input" id="password" name="password2" placeholder="Verify your password" minlength="6" required><label for="password2" class="form__label">Verify your Password</label> </div>
                    <div class="form__group ">
                        <input type="hidden" name="key" value="<%= key %>">
                        <button type="submit " class="btn btn--green">Continue</button> </div>
                    </form>
                    <a href="/org/login" class="footer__link">Back to home</a>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>