* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 300
}

html {
    font-size: 62.5%
}

body {
    background-image: -o-linear-gradient(rgba(126, 213, 111, .932), rgba(85, 197, 122, .918));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 213, 111, .932)), to(rgba(85, 197, 122, .918)));
    background-image: linear-gradient(rgba(126, 213, 111, .932), rgba(85, 197, 122, .918));
    width: 100%;
    height: 100vh;
    background-attachment: fixed
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

:focus {
    outline: 0
}

.container {
    width: 90%;
    text-align: center;
    background-color: #eee;
    margin: 4rem auto;
}

.containeer {
    width: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #eee;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: -o-linear-gradient(left, #7ed56f, #28b485);
    background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin-top: 5rem;
    margin-bottom: 5rem
}

.heading-secondary:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2)
}

.row {
    max-width: 114rem;
    margin: 0 auto
}

.row:not(:last-child) {
    margin-bottom: 8rem
}

.form__group:not(:last-child) {
    margin-bottom: 2rem
}

.form__input {
    margin: auto;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 60%;
    display: block
}

.form__input:focus {
    outline: 0;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-bottom: 3px solid #55c57a
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730
}

.form__input::-webkit-input-placeholder {
    color: #999
}

.form__label {
    width: 60%;
    font-size: 1.2rem;
    font-weight: 700;
    margin: auto;
    margin-top: .7rem;
    display: block;
    text-align: left;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 0 1.7rem
}

.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden
}

.footer__link:link,
.footer__link:visited {
    font-size: 2rem;
    color: #ffb900;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin-bottom: 2rem;
}

.footer__link:hover,
.footer__link:active {
    color: #ffb900;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(5deg) scale(1.3);
    -ms-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}

.validator {
    font-size: 2.5rem;
    color: red;
    margin-bottom: 1rem;
    font-weight: 700;
}

.success {
    color: #7ed56f
}

.btn,
.btn:link,
.btn:visited {
    width: 40%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: 700;
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--green {
    background-color: #ffb900;
    color: #fff;
}

.btn--green::after {
    background-color: #ffb900;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.blink {
    -webkit-animation: blinkingText 1.2s infinite;
    animation: blinkingText 1.2s infinite;
}

@-webkit-keyframes blinkingText {
    0% {
        color: red;
    }
    49% {
        color: red;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: red;
    }
}

@keyframes blinkingText {
    0% {
        color: red;
    }
    49% {
        color: red;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: red;
    }
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
    .navigation__button {
        top: 4rem;
        right: 4rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .navigation__button {
        top: 3rem;
        right: 3rem;
    }
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: -o-radial-gradient(#ff7730, #28b485);
    background-image: radial-gradient(#ff7730, #28b485);
    z-index: 1000;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 56.25em) {
    .navigation__background {
        top: 4.5rem;
        right: 4.5rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .navigation__background {
        top: 3.5rem;
        right: 3.5rem;
    }
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__item {
    margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: -o-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.navigation__link:link span,
.navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: #ffb900;
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

.navigation__checkbox:checked~.navigation__background {
    -webkit-transform: scale(80);
    -ms-transform: scale(80);
    transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    width: 100%;
}

.navigation__icon {
    position: relative;
    margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.navigation__icon::before {
    top: -.8rem;
}

.navigation__icon::after {
    top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}